body{
    background-color: wheat;
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 2.3rem;
    color: lightslategray;
    margin-top: 10px;
    letter-spacing: 2.5px;
}

nav li{
    color: red;
    font-size: 1rem;
    font-weight: bold;
}